/* Fonts */
.brown-light {
    font-family: "Brown-Light";
    letter-spacing: 0.25px;
}

.brown-regular {
    font-family: "Brown-Regular";
    letter-spacing: -0.5px;
}

.brown-bold {
    font-family: "Brown-Bold";
    letter-spacing: -3px;
}

